{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/>
<div >
  <h5> Birth of a phenomenal name </h5>
  <p class="card-text">Britwin Ltd., in a joint venture with Ampel, a leather shoe manufacturing company which dates back to the 90’s where it started life as a quality control agencyfor renowned European brands. Todayreaching many milestones along the journey Britwin and Ampel has a strong primary orientation towards customers and their quality demand drove to the launch of their very own brand- Ninety9 Steps whose products are carefully evaluated to match the most happening moda trends and manufactured with the latest machineries and technologies.

Britwin Ltd., operates with the notion of supplying quality footwear to customers through easily accessible e-commerce platforms, independent stores and wholesalers across the UK and Europe at competitive prices.</p>
<h5> Brand  </h5>
  <p class="card-text">
Ninety9Stepsis a brand aimed at professional spirits who demand classics with a twist of the latest trend along with quality and comfort. The brand also offers leather fashion accessories necessary in daily life.

Shoes for perfect moves- is how we like to define it
  </p>
<h5> Sui Generis Collection </h5>
  <p class="card-text">
The Ninety9Steps’collection redefines the attitude of classic style with our fashion revolution. The innovation and ultimate passion expresses the craftsmanship and elegance typical of our brand by a step ahead with time, a step ahead with perfect moves.
  </p>
<h5> What makes us Sui Generis </h5>
  <p class="card-text">
The manufacturing process behind our shoes is complex and labour intensive with several important steps from creating the first sketch to the final packing of the end product.Ninety9Stepsshoes are made from top-tier rawhides. The in-house Research & Product Development Teamwork tirelessly to bring you the most happening collection.

Products of Ninety9Steps keep moving from development to production to boutiques shelves until they rest on your feet.
  </p>
</div>

{% endblock %}

